.home_sliderMain {
    justify-content: start;
    align-items: start;
    overflow-x: hidden;
    position: relative;
    display: flex;
    height: 70vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.home_sliderMain .controls {
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 10;
    width: 90%;
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_sliderMain .controls .sliderControl {
    background-color: rgba(249, 183, 103, .5);
    justify-content: center;
    color: white;
    transition: ease .5s;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    padding: .4rem;
    height: 32px;
    width: 32px;
}

.home_sliderMain .controls .sliderControl:hover {
    height: 40px;
    width: 40px;
}

.home_sliderMain .sliderBox {
    transition: ease 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_sliderMain .sliderBox .vignette {
    background: linear-gradient(0deg, rgba(0, 0, 0,.7), rgba(0, 0, 0,.3));
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.home_sliderMain .sliderBox .slider {
    position: relative;
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_sliderMain .sliderBox .slider .sliderBg {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}

.home_sliderMain .sliderBox .slider .sliderContent {
    flex-direction: column;
    position: relative;
    align-items: start;
    color: white;
    display: flex;
    z-index: 3;
    gap: .5rem;
}

.home_sliderMain .sliderBox .slider .sliderContent h1{
    font-size: 42px;
    font-weight: bold;
    width: 40%;
    line-height: 50px;
}
@media only screen and (max-width: 800px) {
    
.home_sliderMain .sliderBox .slider .sliderContent h1{
    font-size: 20px;
    font-weight: bold;
    width: 60%;
    line-height: 20px;
    padding: 0rem 1rem;
}
.home_sliderMain .sliderBox .slider .sliderContent p{
    font-size: 10px;
    font-weight: lighter;
    width: 100%;
    line-height: 13px;
    padding: 0rem 1rem;
}
.home_sliderMain .sliderBox .slider .sliderContent .button {
    margin: 0rem 1rem;
    font-size: 12px;
    height: 40px;
    padding: 1px 1px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
  }
.home_sliderMain .sliderBox .slider .sliderContent .button {
    background-color: transparent;
    text-transform: uppercase;
    color: rgba(249, 183, 103, 1);
    font-family: inherit;
    padding: 0.8em 1.7em;
    border-radius: 1rem;
    position: relative;
    border: 2px solid;
    margin-top: 2rem;
    overflow: hidden;
    font-weight: 400;
    cursor: pointer;
    transition: .5s;
    font-size: 17px;
    z-index: 1;
}

.home_sliderMain .sliderBox .slider .sliderContent .button::before,
.home_sliderMain .sliderBox .slider .sliderContent .button::after {
    background-color: rgba(249, 183, 103, 1);
    transform: translate(-50%, -50%);
    transition: 1s ease;
    position: absolute;
    border-radius: 50%;
    display: block;
    height: 50px;
    content: '';
    width: 50px;
    z-index: -1;
}

.home_sliderMain .sliderBox .slider .sliderContent .button::before {
    left: -1em;
    top: -1em;
}

.home_sliderMain .sliderBox .slider .sliderContent .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.home_sliderMain .sliderBox .slider .sliderContent .button:hover::before,
.home_sliderMain .sliderBox .slider .sliderContent .button:hover::after {
    height: 410px;
    width: 410px;
}

.home_sliderMain .sliderBox .slider .sliderContent .button:hover {
    color: rgba(252, 230, 108,1);
}

.home_sliderMain .sliderBox .slider .sliderContent .button:active {
    filter: brightness(.8);
}


.home_sliderMain .dots {
    transform: translateX(-50%);
    position: absolute;
    max-width: 1400px;
    bottom: 3rem;
    width: 80%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home_sliderMain .dots .sliderDot {
    cursor: pointer;
    height: 40px;
    width: 40px;
    z-index: 11;
}